<!DOCTYPE html>
<html>
<head>
  <title>My Website</title>
  <style>
    header {
      background-color: #333;
      color: #fff;
      padding: 20px;
      text-align: center;
    }
  </style>
</head>
<body>
  <header>
    <h1><a href="{{url_for('reviewdisplay')}}">Admin Review</h1>
  </header>

  <header>
    <h1><a href="">Vendor</h1>
    <p>This is the header for the Vendor section.</p>
  </header>
  <header>
    <h1><a href="">Index</h1>
    <p>This is the header for the Index section.</p>
  </header>

</body>
</html>